body {
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
}

h1 {
  text-align: center;
  margin: 0;
}

#mainHeader {
  background-color: #333;
  color: #fff;
}

#mainHeader h1 {
  padding: 20px 20px;
}

.container {
  width: 80%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}
#display {
  display: inline-block;
  margin-top: 5px !important;
  position: relative;
  margin: auto;
}

#camera {
  position: relative;
  top: 0;
  left: 0;
  z-index: -5;
}

#canvas {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#display,
#camera,
#canvas {
  border-radius: 1.2rem;
}
